body{
    background-color:#f2f2f2 ;
}
/* gambar di nav */
.rounded-image{
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    width: 100px;
    margin-left: 770px;
}
/* judul */
#judul{
    background-color: gainsboro;
    color: cornflowerblue;
    text-shadow: 3px 2px 3px grey;
}
/* nama tabel */
#ab{
    text-shadow: 3px 2px 3px grey;
}
/* dashbord */
#mar{
    margin-right: 12px;
}
/* overflo */
.country{
    overflow: scroll;
    height: 342px;
    
}
#try{
    text-shadow: 3px 2px 3px grey;
}

/* tanggal */
#tgl{
    font-size: 14px;
}
/* card */
.cad{
    margin: 20px;
    list-style: none;
}
.sa{
    text-shadow: 3px 2px 3px grey;
}

#b1{
    background-color: dodgerblue;
    box-shadow: 3px 2px 3px grey;
    margin-top: 12px;
}
#b2{
    background-color: gold;
    box-shadow: 3px 2px 1px grey;
    margin-top: 12px;
}
#b3{
    background-color: orangered;
    box-shadow: 3px 2px 1px grey;
    margin-top: 12px;
}
/* =========================card============= */
.card{
    margin-top: 15px;
}
.cardtgl{
    font-size: 70%;
    height: 0px;
    margin-bottom: 8px;
}
h4{
    margin: 19px;
    margin-top: 8px;
}
hr {
    border-style: inset;
    border-width: 1px;
    margin-top: 20px;
    }
.pro{
    background-color: darkorange;
}
#bayangan{
    box-shadow: 3px 2px 1px grey;
}
/* ending */
#adab{
    text-align: center;
    margin-top: 30px;   
    background-color: rgb(58, 58, 58);
    color: cornsilk;
}

#by{
    text-align: left;
    margin-top: 40px;
    margin-left: 11px;
}
